* {
  margin: 0;
  padding: 0;
}
body {
  background: url(images/bg-2.png) no-repeat fixed,#FFFCF9;
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, p, blockquote, q {
  color: #000500;
}
a {
  text-decoration: none;
  color: #92817a;
}
a:hover {
  color: #f1dabf;
}

/* Container */

.container {
  margin: 5%;
  padding: 2%;
  border-radius: 5px ;
  background-color: #fffbff;
}

/* Header - Intro */

.intro 
{
  text-align: center;
}
.intro-title {
  font-weight: 500;
}

/* Content */

.content h2 {
  text-align: center;
  margin-bottom: 2%;
}

/* Table */

.table {
  text-align: center;
}
table {
  margin: 0 auto 2%;
  
}
th, td {
  border: 1px solid #000;
  padding: 2%;
  width: 200px;
}

.good {
  color: #2c6e49;
}
.bad {
  color: #bc4749;
}

/* Footer */

footer {
  text-align: center;
}
footer h2 {
  margin-bottom: 1%;
}
footer p {
  margin: 0 auto;
  width: 100%;
  max-width: 50%;
}